<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block nav %}
    {% if request.user.is_staff %}
    <nav>
        <span>Hello .{{request.user}}</span>
        <span><a href="{% url 'logout' %}">Logout</a></span>
    </nav>
    {% else %}
    <li>
        <a href="{% url 'account' %}">settings</a>
    </li>
    {% endif %}
    {% endblock nav %}

    {% block content %}
    <h1>Homepage</h1>
    <section>
        <!-- <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Upload">
        </form> -->
    </section>
    {% endblock content %}
</body>

</html>